:root {
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #fff;
    --negro: #000;
    --fuente-principal: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}